<ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div class="home">
  <h2>Bienvenidos</h2>
  <span>Sistema de reportes</span>
  <img src="../../../assets/img/logo.png" alt="">
</div>

<!-- <div class="card" style="display: flex; align-items: end; padding: 5px;">
      
    <a data-bs-toggle="tooltip" title="Descargar PDF" ><i class="bi bi-file-earmark-arrow-down-fill" style="font-size: 2rem;"></i></a>
  </div>
  
  <div class="mt-4" style="display: flex; justify-content: center; margin: auto;">
    <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 700px; height: 700px;"
    ></pdf-viewer>
  </div> -->